$color-primario: #000000;
$color-primarioA1: #7F7D7D;
$color-primarioA2: #464646;
$color-primarioB1: #202020;

$color-secundario: #ffffff;
$color-secundarioB1: whitesmoke;
$color-secundarioB2: #CECECE;
$color-secundarioB3: #A2A0A0;